<%- include("includes/head.ejs") %>

<body>
    <h2>Welcome to Instagram @<%= data.name %></h2>
    
    <button>Follow</button>
    <button>Message</button>
    <p>Followers: <%= data.followers %></p> &nbsp;&nbsp;&nbsp;&nbsp;
    <p>following:<%= data.following %></p>
    <% for(let post of data.posts){ %>
        <img src=<%= post.image %> alt="some img">
        <p>
            Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;
            Comments <%= post.comments %>
        </p>
    <% } %>
    
    <%- include("includes/footer.ejs") %>
</body>

<script src="/app.js"></script>
</html>